---
export interface ICardProps {
    title: string;
    description: string;
    iconSrc: string;
}

const {
    title = "Prime Locations",
    description = "Properties in prime areas with key amenities.",
    iconSrc = "./assets/68c23585a391010f9cc22fae_proicons--location.svg",
} = Astro.props as ICardProps;
---

<div class="card highlights">
    <img
        width="45"
        height="45"
        alt=""
        src={iconSrc}
        loading="lazy"
        class="icon"
    />
    <div class="content highlights">
        <div class="sub-heading-large left">{title}</div>
        <p class="paragraph-regular left">
            {description}
        </p>
    </div>
</div>
