---
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout/index.astro";
import MainBlock from "../components/MainBlock/index.astro";
import Section from "../components/Section/index.astro";
import SectionHeader from "../components/SectionHeader/index.astro";
import ServiceList from "../components/ServiceList/index.astro";

import Testimonials from "../components/Testimonials/index.astro";

import Slider from "../widgets/Slider.astro";
import Advantages from "../widgets/Advantages.astro";

const page = await getEntry("pages", "index");
if (!page) throw new Error("Home page not found");

const { title, description, image, advantages, seo } = page.data;
---

<BaseLayout title={seo.title} description={seo.description}>
	<MainBlock
		badgeText="Лучший сервис по ремонту бытовой техники"
		description={description}
		ctaText="Оставить заявку"
		ctaHref="/contact"
		heading="Iron Service - надежный партнер в ремонте бытовой техники"
		mainBackgroundImage={image}
		property={{
			href: "/services",
			image: "/hero/service2.jpg",
			title: "Наши услуги",
			location: "Саратов",
		}}
	/>
	<Section>
		<SectionHeader
			badgeText="Наши услуги"
			heading="Ремонт любого вида техники"
			paragraph="Недорогой и оперативный ремонт техники любой сложности"
		/>
		<div class="collection-list-wrapper sections w-dyn-list">
			<ServiceList
				services={[
					{
						title: "Ремонт бытовой техники",
						description: "Полный спектр услуг по ремонту всех бытовых приборов -- от мелочей до сложной электроники",
						imageUrl: "/hero/repair1.jpg",
						propertyUrl: "/services/household",
					},
					{
						title: "Ремонт компьютерной техники",
						description: "Диагностика и восстановление ПК, ноутбуков и периферии — любой сложности и любого производителя.",
						imageUrl: "/hero/repair2.jpg",
						propertyUrl: "/services/computer",
					},
					{
						title: "Ремонт климатической техники",
						description: "Профессиональный сервис для систем, создающих ваш комфорт — от кондиционеров до вентиляции.",
						imageUrl: "/hero/repair3.jpg",
						propertyUrl: "/services/climatic",
					},
					{
						title: "Ремонт охранных систем",
						description: "Квалифицированное обслуживание видеонаблюдения, сигнализаций и систем контроля доступа.",
						imageUrl: "/hero/repair4.jpg",
						propertyUrl: "/services/security",
					},
				]}
			/>
		</div>
		<a
			data-w-id="ea84d01c-ab2e-9168-935f-62025977c07b"
			href="/services"
			class="button w-button">Все услуги</a
		>
	</Section>
	<div id="about-section"></div>
	<Section>
		<SectionHeader
			heading="О КОМПАНИИ"
			paragraph="Выезд на ремонт крупной бытовой техники ежедневно. Работаем по Саратову и Энгельсу."
		/>
		<div
			data-w-id="051acf5e-364b-2415-bab4-a6c613538d10"
			style="opacity: 1; transform: translate3d(0px, 25px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
			class="grid _2"
		>
			<Slider />
			<Advantages />
		</div>
	</Section>
	<Section>
		<Testimonials />
	</Section>
	
</BaseLayout>
