---

---

<div class="cta">
  <div class="section-tittle">
    <p class="paragraph-small white">Subscribe for Updates</p>
    <div class="text-content">
      <h3 class="heading-style-h3 ccenter white">
        Where your vision becomes home.
      </h3>
      <p class="paragraph-large center white">
        Fazen is a sanctuary shaped by your individuality, crafted with
        artistry, and designed to inspire.
      </p>
    </div>
    <div class="form-waitllist w-form">
      <form
        id="Mail-waitlist"
        name="wf-form-Email-Form"
        data-name="Email Form"
        method="get"
        class="form-item"
        data-wf-page-id="68c0e3e4af3be748783bb0c5"
        data-wf-element-id="e794824a-d6bb-c064-0c97-7cf891ca5037"
        aria-label="Email Form"
      >
        <div class="form-content-waiitlist">
          <input
            class="text-field sub w-input"
            maxlength="256"
            name="Form-Input-waitlist"
            data-name="Form Input waitlist"
            placeholder="yourmail@mail.com"
            type="email"
            id="Form-Input-waitlist"
            required=""
            wfd-id="id0"
          /><a href="https://fazora.webflow.io/contact" class="button w-button"
            >Subscribe</a
          >
        </div>
      </form>
      <div
        class="success-message-2 w-form-done"
        tabindex="-1"
        role="region"
        aria-label="Email Form success"
      >
        <div class="wrapper-text">
          <div class="paragraph-large-2">Thank you for subscribing.</div>
        </div>
      </div>
      <div
        class="eror-message w-form-fail"
        tabindex="-1"
        role="region"
        aria-label="Email Form failure"
      >
        <div class="wrapper-text">
          <div class="paragraph-large-2">
            Oops! Something went wrong while submitting the form.
          </div>
        </div>
      </div>
    </div>
    <p class="paragraph-small white">
      Your Stay, Reimagined with Comfort and Care
    </p>
  </div>
</div>
