---
interface IFooterProps {
  logoSrc?: string;
  logoAlt?: string;
  description?: string;
}

const {
  logoSrc = "/logo2.png",
  logoAlt = "Footer Logo",
  description = "Компания IronService предоставляет услуги ремонта бытовой техники любой сложности. Мы работаем во всех районах Саратова и Энгельса, как в сервисе, так и на доме. Огромнейший опыт работы, высокая квалификация мастеров и качество работы. Оставляйте заявку на ремонт бытовой техники, и уже завтра, вы забудете про сломанную технику. Стоимость работ указана без учета стоимости запчастей. Сайт носит информационный характер.",
} = Astro.props as IFooterProps;
---

<footer class="section footer">
  <div class="padding-global">
    <div class="container-medium">
      <div class="footer-content">
        <div class="column-footer">
          <div class="footer-wrapper">
            <div class="column-footer-logo">
              <a
                href="https://fazora.webflow.io/"
                aria-current="page"
                class="navbar-brand w-inline-block w--current"
                ><img
                  loading="lazy"
                  src={logoSrc}
                  alt={logoAlt}
                  class="logo"
                /></a
              >
              <p class="paragraph-regular left content-footer">
                {description}
              </p>
              <p class="paragraph-regular left content-footer">
                © IronService, 2026 
              </p>
            </div>
            <div class="container-menu"></div>
          </div>
          <div class="container-menu-footer">
            <div class="menu">
              <div class="sub-menu">
                <div class="sub-heading-regular white">Страницы</div>
              </div><a
                href="/"
                class="navbar-link footer">Главная</a
              ><a
                href="/services"
                class="navbar-link footer">Услуги</a
              >
              <a
                href="/#about-section"
                class="navbar-link footer">О Компании</a
              ><a
                href="/contact"
                class="navbar-link footer">Контакты</a
              >
            </div>
            <div style="margin-left: 40px;" class="menu">
              <div class="sub-menu">
                <div class="sub-heading-regular white">КОНТАКТЫ</div>
              </div>

              <p class="paragraph-regular right content-footer">
                Адрес:	410015, г. Саратов ул. Орджоникидзе д. 2Г
              </p>
              
              <p class="paragraph-regular right content-footer">
                ОГРНИП:	304645420500028 <br>
                ИНН:	645407974287
              </p>
              
              <p class="paragraph-regular right content-footer">
                Телефон:	<br>
                +7 (8452) 70-97-97 <br>
                +7 (902) 040-97-97 <br>
                +7 (8452) 59-75-94 <br>
                +7 (902) 040-79-94
              </p>
              <p class="paragraph-regular right content-footer">E-mail:	ironservices@yandex.ru</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
