---

---

<div class="wrapper">
  <div class="section-tittle">
    <div class="badge two">
      <div class="tittle-badge">Отзывы</div>
    </div>
    <div class="text-content">
      <h2 class="heading-style-h2 center">Что говорят о нас</h2>
      <p class="paragraph-large center">
        Отзывы наших клиентов вдохновляют нас
      </p>
    </div>
  </div>
  <div class="grid testimonials">
    <a
      class="card testimonials w-inline-block"
    >
      <div class="icon-badge">
        <img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        />
      </div>
      <div class="content-testimonials">
        <p class="paragraph-regular left">
          Разбил экран телефона. Отнес в этот сервис (он ближе всех был). Починили недорого, все работает. Спасибо за работу.
        </p>
      </div>
      <div class="wrapper-testimonials">
        <div class="content-testimonials _2">
          <div class="sub-heading-large left">Роман</div>
          <p class="paragraph-small left">Частное лицо</p>
        </div><img
          src="/icons/engineer2.png"
          loading="lazy"
          alt="twitter"
          class="icon"
        />
      </div>
    </a><a
      class="card testimonials w-inline-block"
    >
      <div class="icon-badge">
        <img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        />
      </div>
      <div class="content-testimonials">
        <p class="paragraph-regular left">
          Сломался привод кофемашины. Починили за час, заменили шестерни. Цена и гарантия порадовали. Буду советовать.
        </p>
      </div>
      <div class="wrapper-testimonials">
        <div class="content-testimonials _2">
          <div class="sub-heading-large left">Дмитрий</div>
          <p class="paragraph-small left">Частное лицо</p>
        </div><img
          src="/icons/engineer2.png"
          loading="lazy"
          alt="twitter"
          class="icon"
        />
      </div>
    </a><a
      class="card testimonials w-inline-block"
    >
      <div class="icon-badge">
        <img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt=""
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        /><img
          src="/icons/ic--round-star.svg"
          loading="lazy"
          alt="star"
          class="icon"
        />
      </div>
      <div class="content-testimonials">
        <p class="paragraph-regular left">
          Быстро починили стиральную машину. Мастер нашел поломку сразу, заменил деталь. Полгода работает идеально. Спасибо!
        </p>
      </div>
      <div class="wrapper-testimonials">
        <div class="content-testimonials _2">
          <div class="sub-heading-large left">Светлана</div>
          <p class="paragraph-small left">Частное лицо</p>
        </div><img
          src="/icons/engineer2.png"
          loading="lazy"
          alt="twitter"
          class="icon"
        />
      </div>
    </a>
  </div>
  <div class="badge two">
    <img
      loading="lazy"
      src="/icons/solar-star-bold.svg"
      alt=""
      class="icon"
    />
    <div class="tittle-badge">9,000 счастливых клиентов<br /></div><img
      loading="lazy"
      src="/icons/solar-star-bold.svg"
      alt=""
      class="icon"
    />
  </div>
</div>
