---
export interface ISectionHeaderProps {
    haveButton: boolean;
    heading: string;
    paragraph: string;
    pathUrl: string;
}

const {
    haveButton = false,
    pathUrl = "/",
    heading = "Discover homes designed to inspire.",
    paragraph = "Luxury residences where design meets comfort",
} = Astro.props as ISectionHeaderProps;
---

<div
    data-w-id="acf9572d-0302-28df-7d2e-f92e2218f39e"
    
    class="section-tittle"
>
    {haveButton && (
        <a href={pathUrl} class="helper link w-inline-block" id="back-button" >
            <div class="icon-2 w-embed">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#000" d="M11.03 8.53a.75.75 0 1 0-1.06-1.06l-4 4a.75.75 0 0 0 0 1.06l4 4a.75.75 0 1 0 1.06-1.06l-2.72-2.72H18a.75.75 0 0 0 0-1.5H8.31z"/>
                </svg>
            </div>
            <div class="title-badge">Вернуться</div>
        </a>
    )}
    <div class="text-content">
        
        <h2 class="heading-style-h2 center">
            {heading}
        </h2>
        <p class="paragraph-large center">
            {paragraph}
        </p>
    </div>
</div>