---

---

<div
    data-w-id="f4600ab5-d97a-2694-6715-964321832aa0"
    style="opacity:1;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
    class="container-medium"
>
    <div class="section-tittle center">
        <div class="badge two">
            <div class="tittle-badge">Контакты</div>
        </div>
        <div class="text-content">
            <h1 class="heading-style-h1 center">ОСТАВЬТЕ ЗАЯВКУ</h1>
            <p class="paragraph-large center">Обязательно укажите все поля</p>
        </div>
    </div>
    <div class="form-block w-form">
        <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            method="get"
            class="form"
            data-wf-page-id="68c0e3e4af3be748783bb0cd"
            data-wf-element-id="214819d7-9c84-8f6c-cee3-061e39d27264"
        >
            <div class="column-form">
                <div class="form-column">
                    <label for="Contact-Form-Name-2" class="sub-heading-regular"
                        >Как Вас зовут?</label
                    >
                    <input
                        class="text-field w-input"
                        maxlength="256"
                        name="Contact-Form-Name-2"
                        data-name="Contact Form Name 2"
                        placeholder="Андрей"
                        type="text"
                        id="Contact-Form-Name-2"
                        required=""
                    />
                </div>
                <div class="form-column">
                    <label for="Mail" class="sub-heading-regular"
                        >Ваш номер телефона</label
                    >
                    <input
                        class="text-field w-input"
                        maxlength="256"
                        name="Mail"
                        data-name="Mail"
                        placeholder="89997776655"
                        type="tel"
                        id="Mail"
                        required=""
                    />
                </div>
            </div>
            <div class="form-column">
                <label for="Message" class="sub-heading-regular"
                    >Опишите ситуацию</label
                >
                <textarea
                    id="Message"
                    name="Message"
                    maxlength="5000"
                    data-name="Message"
                    placeholder="Ваша проблема..."
                    class="text-field message _2 w-input"></textarea>
            </div>
            <div class="button-wrapper">
                <input
                    type="submit"
                    data-wait="Please wait..."
                    class="button w-button"
                    value="Отправить"
                />
            </div>
            <div class="tittle-badge">
                Пожалуйста, описывайте проблему максимально подробно — это
                поможет мастеру подготовить нужные запчасти и инструменты.<br />
            </div>
        </form>
        <div class="success-message w-form-done">
            <div class="paragraph-regular">Спасибо! Ваша заявка получена!</div>
        </div>
        <div class="error-message w-form-fail">
            <div class="paragraph-regular">
                Ой! При отправке формы произошла ошибка.
            </div>
        </div>
    </div>
</div>
