---
---

<div class="map-container">
    <div class="container-fluid" style="padding: 0; margin: 0; width: 100%;">
        <div class="row" style="margin: 0;">
            <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0;">
                <div class="vc_column-inner" style="padding: 0;">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 32px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html" style="margin-bottom: 0;">
                            <div class="wpb_wrapper">
                                <div style="position:relative; overflow:hidden; width: 100%; margin: 0 auto; max-width: 1200px;">
                                    <a 
                                        href="https://yandex.ru/maps/org/ayron_servis/27805531360/?utm_medium=mapframe&amp;utm_source=maps" 
                                        style="color:#eee;font-size:12px;position:absolute;top:0px; z-index: 10;"
                                    >
                                        Айрон Сервис
                                    </a>
                                    <a 
                                        href="https://yandex.ru/maps/194/saratov/category/appliance_repair/184108223/?utm_medium=mapframe&amp;utm_source=maps" 
                                        style="color:#eee;font-size:12px;position:absolute;top:14px; z-index: 10;"
                                    >
                                    Ремонт бытовой техники в Саратове
                                    </a>
                                    <a 
                                        href="https://yandex.ru/maps/194/saratov/category/audio_and_video_devices_repair/184108221/?utm_medium=mapframe&amp;utm_source=maps" 
                                        style="color:#eee;font-size:12px;position:absolute;top:28px; z-index: 10;"
                                    >
                                    Ремонт аудиотехники и видеотехники в Саратове
                                    </a>
                                    <iframe 
                                        src="https://yandex.ru/map-widget/v1/?ll=45.953292%2C51.499664&mode=search&sll=45.953292%2C51.499664&text=Айрон%20Сервис%20Саратов&z=18&results=1&highlighted=27805531360" 
                                        width="100%" 
                                        height="600" 
                                        frameborder="0" 
                                        allowfullscreen="true" 
                                        style="position:relative; display: block; border-radius: 8px;">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<style>
    .map-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        padding: 20px 0;
    }
    
    .map-container .container-fluid {
        max-width: 1400px;
        margin: 0 auto !important;
    }
    
    @media (max-width: 768px) {
        .map-container iframe {
            height: 450px !important;
        }
    }
</style>